* text=auto !eol
Samples/miplib3/10teams.gz -text
Samples/miplib3/air03.gz -text
Samples/miplib3/air04.gz -text
Samples/miplib3/air05.gz -text
Samples/miplib3/arki001.gz -text
Samples/miplib3/bell3a.gz -text
Samples/miplib3/bell5.gz -text
Samples/miplib3/blend2.gz -text
Samples/miplib3/cap6000.gz -text
Samples/miplib3/dano3mip.gz -text
Samples/miplib3/danoint.gz -text
Samples/miplib3/dcmulti.gz -text
Samples/miplib3/dsbmip.gz -text
Samples/miplib3/egout.gz -text
Samples/miplib3/enigma.gz -text
Samples/miplib3/fast0507.gz -text
Samples/miplib3/fiber.gz -text
Samples/miplib3/fixnet6.gz -text
Samples/miplib3/flugpl.gz -text
Samples/miplib3/gen.gz -text
Samples/miplib3/gesa2.gz -text
Samples/miplib3/gesa2_o.gz -text
Samples/miplib3/gesa3.gz -text
Samples/miplib3/gesa3_o.gz -text
Samples/miplib3/gt2.gz -text
Samples/miplib3/harp2.gz -text
Samples/miplib3/khb05250.gz -text
Samples/miplib3/l152lav.gz -text
Samples/miplib3/lseu.gz -text
Samples/miplib3/markshare1.gz -text
Samples/miplib3/markshare2.gz -text
Samples/miplib3/mas74.gz -text
Samples/miplib3/mas76.gz -text
Samples/miplib3/misc03.gz -text
Samples/miplib3/misc06.gz -text
Samples/miplib3/misc07.gz -text
Samples/miplib3/mitre.gz -text
Samples/miplib3/mkc.gz -text
Samples/miplib3/mod008.gz -text
Samples/miplib3/mod010.gz -text
Samples/miplib3/mod011.gz -text
Samples/miplib3/modglob.gz -text
Samples/miplib3/noswot.gz -text
Samples/miplib3/nw04.gz -text
Samples/miplib3/p0033.gz -text
Samples/miplib3/p0201.gz -text
Samples/miplib3/p0282.gz -text
Samples/miplib3/p0548.gz -text
Samples/miplib3/p2756.gz -text
Samples/miplib3/pk1.gz -text
Samples/miplib3/pp08a.gz -text
Samples/miplib3/pp08aCUTS.gz -text
Samples/miplib3/qiu.gz -text
Samples/miplib3/qnet1.gz -text
Samples/miplib3/qnet1_o.gz -text
Samples/miplib3/rentacar.gz -text
Samples/miplib3/rgn.gz -text
Samples/miplib3/rout.gz -text
Samples/miplib3/set1ch.gz -text
Samples/miplib3/seymour.gz -text
Samples/miplib3/stein27.gz -text
Samples/miplib3/stein45.gz -text
Samples/miplib3/swath.gz -text
Samples/miplib3/vpm1.gz -text
Samples/miplib3/vpm2.gz -text
