* text=auto !eol
/AUTHORS -text
Cbc/CbcSourceFilesTable.csv -text
Cbc/CbcSourceFilesTable.xls -text
Cbc/CbcSourceFilesTable2.csv -text
Cbc/CbcSourceFilesTable2.xls -text
Cbc/INSTALL -text
Cbc/LICENSE -text
Cbc/MSVisualStudio/v7/Cbc.sln -text
Cbc/MSVisualStudio/v7/Cbc.suo -text
Cbc/MSVisualStudio/v7/cbc/cbc.vcproj -text
Cbc/MSVisualStudio/v7/cbcExamplesSample2/cbcExamplesSample2.vcproj -text
Cbc/MSVisualStudio/v7/cbcSolve/cbcSolve.vcproj -text
Cbc/MSVisualStudio/v7/libCbc/libCbc.vcproj -text
Cbc/MSVisualStudio/v8/Cbc.sln -text
Cbc/MSVisualStudio/v8/Cbc.suo -text
Cbc/MSVisualStudio/v8/cbcCInterfaceDll/cbcCInterfaceDll.vcproj -text
Cbc/MSVisualStudio/v8/cbcCSosDllSample/cbcCSosDllSample.vcproj -text
Cbc/MSVisualStudio/v8/cbcExamplesSample2/cbcExamplesSample2.vcproj -text
Cbc/MSVisualStudio/v8/cbcGeneric/cbcGeneric.vcproj -text
Cbc/MSVisualStudio/v8/cbcSolve/cbcSolve.vcproj -text
Cbc/MSVisualStudio/v8/libCbc/libCbc.vcproj -text
Cbc/MSVisualStudio/v9/Cbc.sln -text
Cbc/MSVisualStudio/v9/cbcCInterfaceDll/cbcCInterfaceDll.vcproj -text
Cbc/MSVisualStudio/v9/cbcCSosDllSample/cbcCSosDllSample.vcproj -text
Cbc/MSVisualStudio/v9/cbcExamplesSample2/cbcExamplesSample2.vcproj -text
Cbc/MSVisualStudio/v9/cbcGeneric/cbcGeneric.vcproj -text
Cbc/MSVisualStudio/v9/cbcSolve/cbcSolve.vcproj -text
Cbc/MSVisualStudio/v9/libCbc/libCbc.vcproj -text
Cbc/cbc_addlibs.txt.in -text
Cbc/configure -text
Cbc/configure.ac -text
Cbc/doc/doxygen.conf -text
Cbc/examples/Makefile.in -text
Cbc/examples/allCuts.cpp -text
Cbc/examples/barrier.cpp -text
Cbc/examples/cbc_driverC_sos.c -text
Cbc/examples/driver3.cpp -text
Cbc/examples/driver4.cpp -text
Cbc/examples/modify.cpp -text
Cbc/examples/qmip2.cpp -text
Cbc/examples/simpleBAB.cpp -text
Cbc/inc/config_cbc.h.in -text
Cbc/src/CbcBranchDefaultDecision.cpp -text
Cbc/src/CbcBranchDefaultDecision.hpp -text
Cbc/src/CbcCbcParam.cpp -text
Cbc/src/CbcChooseVariable.hpp -text
Cbc/src/CbcClique.cpp -text
Cbc/src/CbcClique.hpp -text
Cbc/src/CbcCliqueBranchingObject.cpp -text
Cbc/src/CbcCliqueBranchingObject.hpp -text
Cbc/src/CbcCompare.hpp -text
Cbc/src/CbcDummyBranchingObject.cpp -text
Cbc/src/CbcDummyBranchingObject.hpp -text
Cbc/src/CbcFixVariable.cpp -text
Cbc/src/CbcFixVariable.hpp -text
Cbc/src/CbcFixingBranchingObject.cpp -text
Cbc/src/CbcFixingBranchingObject.hpp -text
Cbc/src/CbcFollowOn.cpp -text
Cbc/src/CbcFollowOn.hpp -text
Cbc/src/CbcGenBaB.cpp -text
Cbc/src/CbcGenCbcParam.cpp -text
Cbc/src/CbcGenCbcParam.hpp -text
Cbc/src/CbcGenCbcParamUtils.cpp -text
Cbc/src/CbcGenCtlBlk.cpp -text
Cbc/src/CbcGenCtlBlk.hpp -text
Cbc/src/CbcGenMessages.cpp -text
Cbc/src/CbcGenMessages.hpp -text
Cbc/src/CbcGenOsiParam.cpp -text
Cbc/src/CbcGenOsiParam.hpp -text
Cbc/src/CbcGenOsiParamUtils.cpp -text
Cbc/src/CbcGenParam.cpp -text
Cbc/src/CbcGenParam.hpp -text
Cbc/src/CbcGenParamUtils.cpp -text
Cbc/src/CbcGenSolution.cpp -text
Cbc/src/CbcGenSolvers.cpp -text
Cbc/src/CbcGeneral.cpp -text
Cbc/src/CbcGeneral.hpp -text
Cbc/src/CbcGeneralBranchingObject.cpp -text
Cbc/src/CbcGeneralBranchingObject.hpp -text
Cbc/src/CbcGeneralDepth.cpp -text
Cbc/src/CbcGeneralDepth.hpp -text
Cbc/src/CbcGeneric.cpp -text
Cbc/src/CbcHeuristicDive.cpp -text
Cbc/src/CbcHeuristicDive.hpp -text
Cbc/src/CbcHeuristicDiveCoefficient.cpp -text
Cbc/src/CbcHeuristicDiveCoefficient.hpp -text
Cbc/src/CbcHeuristicDiveFractional.cpp -text
Cbc/src/CbcHeuristicDiveFractional.hpp -text
Cbc/src/CbcHeuristicDiveGuided.cpp -text
Cbc/src/CbcHeuristicDiveGuided.hpp -text
Cbc/src/CbcHeuristicDiveLineSearch.cpp -text
Cbc/src/CbcHeuristicDiveLineSearch.hpp -text
Cbc/src/CbcHeuristicDivePseudoCost.cpp -text
Cbc/src/CbcHeuristicDivePseudoCost.hpp -text
Cbc/src/CbcHeuristicDiveVectorLength.cpp -text
Cbc/src/CbcHeuristicDiveVectorLength.hpp -text
Cbc/src/CbcHeuristicPivotAndFix.cpp -text
Cbc/src/CbcHeuristicPivotAndFix.hpp -text
Cbc/src/CbcHeuristicRINS.cpp -text
Cbc/src/CbcHeuristicRINS.hpp -text
Cbc/src/CbcHeuristicRandRound.cpp -text
Cbc/src/CbcHeuristicRandRound.hpp -text
Cbc/src/CbcIntegerBranchingObject.cpp -text
Cbc/src/CbcIntegerBranchingObject.hpp -text
Cbc/src/CbcIntegerPseudoCostBranchingObject.cpp -text
Cbc/src/CbcIntegerPseudoCostBranchingObject.hpp -text
Cbc/src/CbcLinked.cpp -text
Cbc/src/CbcLinked.hpp -text
Cbc/src/CbcLongCliqueBranchingObject.cpp -text
Cbc/src/CbcLongCliqueBranchingObject.hpp -text
Cbc/src/CbcModel_ansi.cpp -text
Cbc/src/CbcModel_ansi.hpp -text
Cbc/src/CbcModel_ban.cpp -text
Cbc/src/CbcModel_ban.hpp -text
Cbc/src/CbcModel_kr.cpp -text
Cbc/src/CbcModel_kr.hpp -text
Cbc/src/CbcModel_stro.cpp -text
Cbc/src/CbcModel_stro.hpp -text
Cbc/src/CbcModel_stro2.cpp -text
Cbc/src/CbcModel_stro3.cpp -text
Cbc/src/CbcModel_stroP.cpp -text
Cbc/src/CbcModel_stroP.hpp -text
Cbc/src/CbcNWay.cpp -text
Cbc/src/CbcNWay.hpp -text
Cbc/src/CbcNWayBranchingObject.cpp -text
Cbc/src/CbcNWayBranchingObject.hpp -text
Cbc/src/CbcNode_ansi.cpp -text
Cbc/src/CbcNode_ansi.hpp -text
Cbc/src/CbcNode_ban.cpp -text
Cbc/src/CbcNode_ban.hpp -text
Cbc/src/CbcNode_kr.cpp -text
Cbc/src/CbcNode_kr.hpp -text
Cbc/src/CbcNode_stro.cpp -text
Cbc/src/CbcNode_stro.hpp -text
Cbc/src/CbcNode_stroP.cpp -text
Cbc/src/CbcNode_stroP.hpp -text
Cbc/src/CbcOneGeneralBranchingObject.cpp -text
Cbc/src/CbcOneGeneralBranchingObject.hpp -text
Cbc/src/CbcParam_ansi.cpp -text
Cbc/src/CbcParam_ansi.hpp -text
Cbc/src/CbcParam_ban.cpp -text
Cbc/src/CbcParam_ban.hpp -text
Cbc/src/CbcParam_kr.cpp -text
Cbc/src/CbcParam_kr.hpp -text
Cbc/src/CbcParam_stro.cpp -text
Cbc/src/CbcParam_stro.hpp -text
Cbc/src/CbcParam_stroP.cpp -text
Cbc/src/CbcParam_stroP.hpp -text
Cbc/src/CbcSOS.cpp -text
Cbc/src/CbcSOS.hpp -text
Cbc/src/CbcSOSBranchingObject.cpp -text
Cbc/src/CbcSOSBranchingObject.hpp -text
Cbc/src/CbcSimpleInteger.cpp -text
Cbc/src/CbcSimpleInteger.hpp -text
Cbc/src/CbcSimpleIntegerPseudoCost.cpp -text
Cbc/src/CbcSimpleIntegerPseudoCost.hpp -text
Cbc/src/CbcSolver.cpp -text
Cbc/src/CbcSolver.hpp -text
Cbc/src/CbcSolver_ansi.cpp -text
Cbc/src/CbcSolver_ansi.hpp -text
Cbc/src/CbcSolver_ban.cpp -text
Cbc/src/CbcSolver_ban.hpp -text
Cbc/src/CbcSolver_kr.cpp -text
Cbc/src/CbcSolver_kr.hpp -text
Cbc/src/CbcSolver_stro.cpp -text
Cbc/src/CbcSolver_stro.hpp -text
Cbc/src/CbcSolver_stroP.cpp -text
Cbc/src/CbcSolver_stroP.hpp -text
Cbc/src/CbcSubProblem.cpp -text
Cbc/src/CbcSubProblem.hpp -text
Cbc/src/CbcTree_ansi.cpp -text
Cbc/src/CbcTree_ansi.hpp -text
Cbc/src/CbcTree_ban.cpp -text
Cbc/src/CbcTree_ban.hpp -text
Cbc/src/CbcTree_kr.cpp -text
Cbc/src/CbcTree_kr.hpp -text
Cbc/src/CbcTree_stro.cpp -text
Cbc/src/CbcTree_stro.hpp -text
Cbc/src/CbcTree_stroP.cpp -text
Cbc/src/CbcTree_stroP.hpp -text
Cbc/src/ClpAmplObjective.cpp -text
Cbc/src/ClpAmplObjective.hpp -text
Cbc/src/ClpAmplStuff.cpp -text
Cbc/src/ClpConstraintAmpl.hpp -text
Cbc/test/gamsTest.cpp -text
/LICENSE -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/missing -text
