*~
aclocal*
autom4te*
Cbc/*

# Ignore VS files
*.suo
*.db
*.bak
*.user
**/.vs/
/MSVisualStudio/**/Release/
/MSVisualStudio/**/ReleaseParallel/
/MSVisualStudio/**/Debug/

# Ignore files created during unit tests
/MSVisualStudio/v??/*.mps
/MSVisualStudio/v??/*.lp
/MSVisualStudio/v??/*.out
