################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cbc/MSVisualStudio/v10/libCbc/x64-v100-Debug
